#scrollContent{
	height:186px;
	overflow:auto;
	position:relative;
}body {
  padding-top: 50px;
}

.carousel
{
	padding:0px;

}
.carousel-caption
{
  background:rgba(0,0,0,0.2)!important;
  bottom:0px;
  text-align:left;
  padding:5px;
  left:0px;
}
div.carousel-inner div.item img
{
padding:0px;
  background:#ff0;
}

.list-group-item
{

  height:auto;
  vertical-align:middle;
  font-size:18pt;
  cursor:pointer;
  background:#2F4F4F;
}
.news
{
background:#2F4F4F;
  float:left;
  height:100%;
  position:absolute;
  z-index:20;
  margin-right:15px;
  padding:0px;

}
div.news-container
{
padding:0px;
}
